In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
df = pd.read_csv(os.path.join('..','csv', 'worldometer_coronavirus_summary_data.csv'))
df

,country,continent,total_confirmed,total_deaths,total_recovered,active_cases,serious_or_critical,total_cases_per_1m_population,total_deaths_per_1m_population,total_tests,total_tests_per_1m_population,population
0,Afghanistan,Asia,147473,6736.0,98073.0,42664.0,1124.0,3699,169.0,707244.0,17739.0,39869084
1,Albania,Europe,133081,2457.0,130222.0,402.0,3.0,46299,855.0,916777.0,318945.0,2874408
2,Algeria,Africa,171392,4254.0,115276.0,51862.0,47.0,3834,95.0,230861.0,5164.0,44701619
3,Andorra,Europe,14678,128.0,14210.0,340.0,NaN,189643,1654.0,193595.0,2501292.0,77398
4,Angola,Africa,42646,1008.0,36708.0,4930.0,8.0,1256,30.0,681443.0,20065.0,33961015
...,...,...,...,...,...,...,...,...,...,...,...,...
215,Wallis And Futuna Islands,Australia/Oceania,445,7.0,438.0,0.0,NaN,40359,635.0,20508.0,1859967.0,11026
216,Western Sahara,Africa,10,1.0,8.0,1.0,NaN,16,2.0,NaN,NaN,613090
217,Yemen,Asia,7061,1375.0,4185.0,1501.0,23.0,231,45.0,152937.0,5009.0,30530919
218,Zambia,Africa,195816,3389.0,187236.0,5191.0,422.0,10341,179.0,2089592.0,110352.0,18935680
219,Zimbabwe,Africa,107490,3490.0,74562.0,29438.0,33.0,7121,231.0,1088771.0,72125.0,15095525

In [49]:
df_quant = []
df_str = []
for i in df:
    if type(df[i][0]) is str:
        df_str.append(df[i])
    elif len(df[i].unique()) >= 10:
        df_quant.append(df[i])
print(df_quant)

[0      147473
1      133081
2      171392
3       14678
4       42646
        ...
215       445
216        10
217      7061
218    195816
219    107490
Name: total_confirmed, Length: 220, dtype: int64, 0      6736.0
1      2457.0
2      4254.0
3       128.0
4      1008.0
        ...
215       7.0
216       1.0
217    1375.0
218    3389.0
219    3490.0
Name: total_deaths, Length: 220, dtype: float64, 0       98073.0
1      130222.0
2      115276.0
3       14210.0
4       36708.0
         ...
215       438.0
216         8.0
217      4185.0
218    187236.0
219     74562.0
Name: total_recovered, Length: 220, dtype: float64, 0      42664.0
1        402.0
2      51862.0
3        340.0
4       4930.0
        ...
215        0.0
216        1.0
217     1501.0
218     5191.0
219    29438.0
Name: active_cases, Length: 220, dtype: float64, 0      1124.0
1         3.0
2        47.0
3         NaN
4         8.0
        ...
215       NaN
216       NaN
217      23.0
218     422.0
219      33.0
Name: serious_or_critical, Length: 220, dtype: float64, 0        3699
1       46299
2        3834
3      189643
4        1256
        ...
215     40359
216        16
217       231
218     10341
219      7121
Name: total_cases_per_1m_population, Length: 220, dtype: int64, 0       169.0
1       855.0
2        95.0
3      1654.0
4        30.0
        ...
215     635.0
216       2.0
217      45.0
218     179.0
219     231.0
Name: total_deaths_per_1m_population, Length: 220, dtype: float64, 0       707244.0
1       916777.0
2       230861.0
3       193595.0
4       681443.0
         ...
215      20508.0
216          NaN
217     152937.0
218    2089592.0
219    1088771.0
Name: total_tests, Length: 220, dtype: float64, 0        17739.0
1       318945.0
2         5164.0
3      2501292.0
4        20065.0
         ...
215    1859967.0
216          NaN
217       5009.0
218     110352.0
219      72125.0
Name: total_tests_per_1m_population, Length: 220, dtype: float64, 0      39869084
1       2874408
2      44701619
3         77398
4      33961015
         ...
215       11026
216      613090
217    30530919
218    18935680
219    15095525
Name: population, Length: 220, dtype: int64]